@page "/"

<PageTitle>Home</PageTitle>

<!--Sekcja początkowa strony -tytuł-->
<MudPaper Class="pa-100" Style="width:80%;background:rgb(223,243,156);border-radius: 20px;">
    
    <MudStack>
        <MudText Align="Align.Left" Typo="Typo.h1" Style="text-transform: uppercase;" ><strong>fit</strong></MudText>
        <MudText Align="Align.Left" Typo="Typo.h2" Style="text-transform: uppercase;"><strong>balance</strong></MudText>
        <MudText Align="Align.Left" Typo="Typo.h6">Zbalansowane diety dla zdrowego trybu życia</MudText>

        <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                   Href="/allGuestDiets">Wybierz swój program</MudButton>
    </MudStack>
</MudPaper>


<!--Sekcja o nas-->
<div id="sectionAboutUs">
<MudStack>
    <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>o nas</strong></MudText>
    <MudText Align="Align.Center" Typo="Typo.h5" >@textAboutus </MudText>
    <MudStack Row="true" Spacing="2" Justify="Justify.SpaceAround">
        
        <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
            <!--  <MudCardMedia Image="" />-->
            <MudText Align="Align.Center" Typo="Typo.h5"> Mamy duzy wybor zbalansowanych zdrowych diet</MudText>
        </MudPaper>

        <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
            <!--  <MudCardMedia Image="" />-->
            <MudText Align="Align.Center" Typo="Typo.h5"> Nasi dietetycy to wysoko kwalifikowane specialiści</MudText>
        </MudPaper>

        <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
            <!--  <MudCardMedia Image="" />-->
            <MudText Align="Align.Center" Typo="Typo.h5"> Już ponad 100 naszych klientów zmieniło swoje życie</MudText>
        </MudPaper>

    </MudStack>
</MudStack>
</div>

<!--Sekcja usług-->
<div id="sectionServices">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>usługi</strong></MudText>

        <MudGrid>
            <MudItem xs="3" Class="d-flex flex-column" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                <MudText Align="Align.Left" Typo="Typo.h5" >@textServices </MudText>
                <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                           Href="/login">Zaloguj się
                </MudButton>
            </MudItem>
            
            <MudItem xs="8">
                <MudGrid>
                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                            <MudText Align="Align.Left" Typo="Typo.h5" >woda </MudText></MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                            <MudText Align="Align.Left" Typo="Typo.h5" >moja dieta</MudText>
                        </MudPaper>
                    </MudItem>
                    
                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                            <MudText Align="Align.Left" Typo="Typo.h5" >raport </MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper Class="d-flex align-center justify-center" Style="border: 5px solid rgb(123,195,218);border-radius: 20px;">
                            <MudText Align="Align.Left" Typo="Typo.h5" >wyliczanie kalori </MudText>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
        
    </MudStack>
</div>

<!--Sekcja wyboru programu-->
<div id="sectionProgram">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>wybierz swoj program</strong></MudText>
        <MudStack Spacing="3" Justify="Justify.SpaceAround">

            <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
                <MudText Align="Align.Left" Typo="Typo.h4"><strong> Utrata wagi</strong></MudText>
                <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                           Href="/allGuestDiets">Zobacz
                    </MudButton>
            </MudPaper>

            <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
                <MudText Align="Align.Left" Typo="Typo.h4"><strong>Urzymanie wagi</strong></MudText>
                <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                           Href="/allGuestDiets">Zobacz
                </MudButton>
            </MudPaper>

            <MudPaper Class="pa-20" Style="background:rgb(223,243,156);border-radius: 20px;">
                <MudText Align="Align.Left" Typo="Typo.h4"><strong>Zwiększenie wagi</strong></MudText>
                <MudText Align="Align.Left" Typo="Typo.h5" >@textProgram </MudText>
                <MudButton Variant="Variant.Filled" Style="width:150px; background:rgb(255,152,107);border-radius: 20px;"
                           Href="/allGuestDiets">Zobacz
                </MudButton>
            </MudPaper>

        </MudStack>
    </MudStack>
</div>

<!--Sekcja możliwości zobaczenia diet-->
<div id="sectionDiets">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>nasze diety</strong></MudText>
    </MudStack>
</div>

<!--Sekcja opinii-->
<div id="sectionOpinions">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>opinie</strong></MudText>
    </MudStack>
</div>

<!--Sekcja Q&A-->
<div id="sectionQ&A">
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>Q&A</strong></MudText>
    </MudStack>
    <MudStack>
        <MudText Align="Align.Center" Typo="Typo.h1" Style="text-transform: uppercase;"><strong>napisz do nas</strong></MudText>
    </MudStack>
</div>

@code
{
    string textAboutus = "Cieszymy się, że jesteś z nami!\nFitBalance to portal dietetyczny dla każdego. Z nami zrzucisz zbędne kilogramy, dorzucisz brakujące kilogramy albo utrzymasz wagę w zdrowy sposób. Zależy nam na twoim zdrowiu i dobrym samopoczuciu dlatego nasi specjaliści przygotowali wiele zbilansowanych diet od wegańskich opcji przez keto aż po bezglutenowych, które możesz modyfikować. Nie tylko znajdziesz dietę dla siebie, a również lepiej zaplanujesz swoja przygodę ze zdrowiem za pomocą kalkulatora zapotrzebowania kalorycznego oraz miarki wypitej wody. Jesteśmy chętni się dla Ciebie udoskonalać dlatego masz możliwość wystawiania opinii na temat diet.\nMotywacją do stworzenia naszej aplikacji jest brak na rynku narzędzia, które by skutecznie\u00a0 łączył ze sobą aspekty planowania posiłków, monitorowania kaloryczności oraz ilości wody wypitej danego dnia.";
    string textServices = "Dla naszych użytkowników oferujemy spersonalizowany program dietetyczny, który jest tworzony na podstawie indywidualnych preferencji i zapytań użytkownika. \n\nDodatkowo zalogowany użytkownik ma możliwość rejestrowania ilości spożywanej w ciągu dnia wody, wyliczania swojego zapotrzebowania kalorycznego oraz przeglądania rankingu najlepszych diet.";
    string textProgram = "Mamy duży wybór zbalansowanych i zdrowych diet";
}